body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#word-container {
  font-size: 24px;
  margin-bottom: 20px;
  height: 50px; /* Altura fija para evitar saltos */
  display: flex;
  justify-content: center;
  align-items: center;
}

#current-word {
  font-weight: bold;
}

#text-input {
  width: 80%;
  height: 150px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  resize: vertical;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #367c39;
}